
.photo {
    display: block;
    margin: 0 auto;
}

.title-style {
    text-align: center;
}

 .list-style {
     text-align: center;
     color: tomato;
     font-size:1.5em;
     list-style-type: none;
     text-decoration: underline;
 }

